h2
{
  color:blue;
}
h1 
{
  color:red;
}
h3
{
  color:red;
}
 
h2
{
  text-decoration: underline;
}
body 
{
  Background-image: url(https://img.freepik.com/vecteurs-libre/style-papier-fond-abstrait-blanc_23-2148389998.jpg?size=626&ext=jpg);
  
}
h1
{
  text-align: center;
}
